div.selector-available select,
div.selector-chosen select {
    background-color: #272c30; 
    color: #f8f9fa;           
}

.select2-container--default .select2-results_option--highlighted.select2-results_option--selectable{
    color: white !important;
}

.select2-container--default .select2-selection--single {
    background-color: #000000;

}
