div.selector-available select,
div.selector-chosen select {
    background-color: #272c30; 
    color: #f8f9fa;           
}

/* Change Select2 Dropdown Text Color */
.select2-results__option {
    color: white !important;
}

/* Change selected option */
.select2-selection__rendered {
    color: white !important;
}

/* Change dropdown background if needed */
.select2-results {
    background-color: #1e1e1e !important; /* optional */
}
